In [7]:
import pandas as pd

###        Read in Csv files:

In [8]:
pd.read_csv(r"C:\Users\akpin\PycharmProjects\Pandas\countries of the world.csv")

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

####  Defining Header:

In [9]:
pd.read_csv(r"C:\Users\akpin\PycharmProjects\Pandas\countries of the world.csv",header=None)

                   0                                    1
0            Country                               Region
1       Afghanistan         ASIA (EX. NEAR EAST)
2           Albania   EASTERN EUROPE
3           Algeria   NORTHERN AFRICA
4    American Samoa   OCEANIA
..               ...                                  ...
223       West Bank   NEAR EAST
224  Western Sahara   NORTHERN AFRICA
225           Yemen   NEAR EAST
226          Zambia   SUB-SAHARAN AFRICA
227        Zimbabwe   SUB-SAHARAN AFRICA

[228 rows x 2 columns]

#### Setting Names. Usually used when the file doesnt have a header:

In [10]:
pd.read_csv(r"C:\Users\akpin\PycharmProjects\Pandas\countries of the world.csv",header=None, names = ["Country","Region"])

             Country                               Region
0            Country                               Region
1       Afghanistan         ASIA (EX. NEAR EAST)
2           Albania   EASTERN EUROPE
3           Algeria   NORTHERN AFRICA
4    American Samoa   OCEANIA
..               ...                                  ...
223       West Bank   NEAR EAST
224  Western Sahara   NORTHERN AFRICA
225           Yemen   NEAR EAST
226          Zambia   SUB-SAHARAN AFRICA
227        Zimbabwe   SUB-SAHARAN AFRICA

[228 rows x 2 columns]

##### Assigning the data frame to a variable and calling it. So we can use it like writing 'df.':

In [11]:
df = pd.read_csv(r"C:\Users\akpin\PycharmProjects\Pandas\countries of the world.csv")
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

### Read in .txt files:

In [12]:
df = pd.read_csv(r"C:\Users\akpin\PycharmProjects\Pandas\countries of the world.txt")
df

                                       Country\tRegion
0          Afghanistan \tASIA (EX. NEAR EAST)
1        Albania \tEASTERN EUROPE
2        Algeria \tNORTHERN AFRICA
3    American Samoa \tOCEANIA                      ...
4        Andorra \tWESTERN EUROPE
..                                                 ...
222    West Bank \tNEAR EAST
223  Western Sahara \tNORTHERN AFRICA              ...
224        Yemen \tNEAR EAST
225       Zambia \tSUB-SAHARAN AFRICA
226     Zimbabwe \tSUB-SAHARAN AFRICA

[227 rows x 1 columns]

##### Did not import properly. We need to use seperater. We can do that in various ways:

In [13]:
df = pd.read_csv(r"C:\Users\akpin\PycharmProjects\Pandas\countries of the world.txt",sep="\t")
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

#### We can have it to read the file as a table:

In [14]:
df = pd.read_table(r"C:\Users\akpin\PycharmProjects\Pandas\countries of the world.txt")
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

#### We can use read in as a table to read csv file as well:

In [15]:
df = pd.read_table(r"C:\Users\akpin\PycharmProjects\Pandas\countries of the world.csv")
df

                                        Country,Region
0           Afghanistan ,ASIA (EX. NEAR EAST)
1         Albania ,EASTERN EUROPE
2         Algeria ,NORTHERN AFRICA
3    American Samoa ,OCEANIA                       ...
4         Andorra ,WESTERN EUROPE
..                                                 ...
222     West Bank ,NEAR EAST
223  Western Sahara ,NORTHERN AFRICA               ...
224         Yemen ,NEAR EAST
225        Zambia ,SUB-SAHARAN AFRICA
226      Zimbabwe ,SUB-SAHARAN AFRICA

[227 rows x 1 columns]

##### But now we need to use seperater:

In [16]:
df = pd.read_table(r"C:\Users\akpin\PycharmProjects\Pandas\countries of the world.csv",sep=",")
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

### Read in .json files:

In [17]:
df = pd.read_json(r"C:\Users\akpin\PycharmProjects\Pandas\json_sample.json")
df

,12 Strong,A Fantastic Woman (Una Mujer Fantástica),All The Money In The World,Bilal: A New Breed Of Hero,Call Me By Your Name,Darkest Hour,Den Of Thieves,Ferdinand,Fifty Shades Freed,Film Stars Don'T Die In Liverpool,...,The 15:17 To Paris,The Commuter,The Disaster Artist,The Greatest Showman,The Insult (L'Insulte),The Post,The Shape Of Water,"Three Billboards Outside Ebbing, Missouri",Till The End Of The World,Winchester
0,"{'Genre': 'Action', 'Gross': '$453,173', 'IMDB...","{'popcornscore': 83, 'rating': 'R', 'tomatosco...","{'popcornscore': 71, 'rating': 'R', 'tomatosco...","{'popcornscore': 91, 'rating': 'PG13', 'tomato...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': 84, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$491,898', 'IMDB...","{'popcornscore': 49, 'rating': 'PG', 'tomatosc...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 69, 'rating': 'R', 'tomatosco...",...,"{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'popcornscore': 89, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$627,248', 'I...","{'popcornscore': 86, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$463,228', 'I...","{'Genre': 'Adventure', 'Gross': '$448,287', 'I...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': -1, 'rating': 'NR', 'tomatosc...","{'Genre': 'Biography', 'Gross': '$696,786', 'I..."

### Read in excel files: (First you need to pip install openpyxl)

##### There is two sheets in this excel file. Default is the first one:

In [18]:
df = pd.read_excel(r"C:\Users\akpin\PycharmProjects\Pandas\world_population_excel_workbook.xlsx")
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

##### If we want to read in the second or any other sheet, we specify the name of the sheet

In [19]:
df2 = pd.read_excel(r"C:\Users\akpin\PycharmProjects\Pandas\world_population_excel_workbook.xlsx",sheet_name="Sheet1")
df2

     Rank CCA3            Country           Capital
0      36  AFG        Afghanistan             Kabul
1     138  ALB            Albania            Tirana
2      34  DZA            Algeria           Algiers
3     213  ASM     American Samoa         Pago Pago
4     203  AND            Andorra  Andorra la Vella
..    ...  ...                ...               ...
229   226  WLF  Wallis and Futuna          Mata-Utu
230   172  ESH     Western Sahara         El AaiÃºn
231    46  YEM              Yemen             Sanaa
232    63  ZMB             Zambia            Lusaka
233    74  ZWE           Zimbabwe            Harare

[234 rows x 4 columns]

### Looking at data in data frame:

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     234 non-null    int64
 1   CCA3     234 non-null    object
 2   Country  234 non-null    object
 3   Capital  234 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.4+ KB

In [21]:
df2.shape

(234, 4)

In [22]:
df2.head(6)

   Rank CCA3         Country           Capital
0    36  AFG     Afghanistan             Kabul
1   138  ALB         Albania            Tirana
2    34  DZA         Algeria           Algiers
3   213  ASM  American Samoa         Pago Pago
4   203  AND         Andorra  Andorra la Vella
5    42  AGO          Angola            Luanda

In [23]:
df2.tail(6)

     Rank CCA3            Country    Capital
228    16  VNM            Vietnam      Hanoi
229   226  WLF  Wallis and Futuna   Mata-Utu
230   172  ESH     Western Sahara  El AaiÃºn
231    46  YEM              Yemen      Sanaa
232    63  ZMB             Zambia     Lusaka
233    74  ZWE           Zimbabwe     Harare

In [24]:
df2["Rank"]

0       36
1      138
2       34
3      213
4      203
      ...
229    226
230    172
231     46
232     63
233     74
Name: Rank, Length: 234, dtype: int64

In [25]:
df2.loc[224]

Rank               43
CCA3              UZB
Country    Uzbekistan
Capital      Tashkent
Name: 224, dtype: object

In [26]:
df2.iloc[224]

Rank               43
CCA3              UZB
Country    Uzbekistan
Capital      Tashkent
Name: 224, dtype: object

In [27]:
df3 = pd.read_excel(r"C:\Users\akpin\PycharmProjects\Pandas\world_population_excel_workbook.xlsx",index_col=0)
df3

,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Rank,,,,,,,,,,,,,,,,
36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
172,ESH,Western Sahara,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

#### Integer location:

##### Did not display the 213 by rank which is American Samoa

In [28]:
df3.iloc[213]

CCA3                                TUR
Country                          Turkey
Capital                          Ankara
Continent                          Asia
2022 Population                85341241
2020 Population                84135428
2015 Population                79646178
2010 Population                73195345
2000 Population                64113547
1990 Population                54324142
1980 Population                44089069
1970 Population                35540990
Area (kmÂ²)                      783562
Density (per kmÂ²)             108.9145
Growth Rate                      1.0067
World Population Percentage        1.07
Name: 18, dtype: object

#### Location:

In [29]:
df3.loc[213]

CCA3                                      ASM
Country                        American Samoa
Capital                             Pago Pago
Continent                             Oceania
2022 Population                         44273
2020 Population                         46189
2015 Population                         51368
2010 Population                         54849
2000 Population                         58230
1990 Population                         47818
1980 Population                         32886
1970 Population                         27075
Area (kmÂ²)                               199
Density (per kmÂ²)                   222.4774
Growth Rate                            0.9831
World Population Percentage               0.0
Name: 213, dtype: object